Package: enigma2-plugin-skins-mymetrixhd
Version: 1.3
Description: MyMetrixHD Plugin for OpenPLI 3.x images
Section: extra
Priority: optional
Maintainer: Misenko <misenko@gmail.com>
Architecture: all
OE: enigma2
Homepage: https://github.com/Misenkooo/e2-openpli-plugin-MyMetrixHD

